name: CI - Expense Tracker QA

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run migrations
        run: |
          python manage.py migrate
          python manage.py runserver

      - name: Run API Tests
        run: |
          pytest -v

      - name: Run UI Smoke Tests
        run: |
          pytest ui_tests

